@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .section,
    .column,
    .text,
    .image,
    .button {
        @apply flex max-h-full min-h-16 border-2 border-primary p-8 mb-2 w-full
    }

    .active {
        @apply border-2 border-secondary
    }
}

/* .wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.menu {
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(8, 100px);
    grid-template-columns: repeat(4, 1fr);
}

button {
    cursor: pointer;
}

.output {
    min-height: calc(100vh - 20px);
    width: 600px;
    border: 1px solid black;
    overflow: scroll;
}

.drag-over {
    border: dashed 4px green;
}

.body {
    cursor: pointer;
}

.section {
    display: flex;
    max-width: 100%;
    min-height: 200px;
    border: 1px solid black;
    padding: 10px;
}

.column {
    display: flex;
    width: 100%;
    min-height: 200px;
    border: 1px solid black;
    padding: 10px;
}

.text {
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
}

.button {
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
}

.image {
    min-height: 100px;
    width: 100%;
    border: 1px solid black;
} */